extends wrapper

block title
	| Stylus "px to rem" Converter Variable

block content
	.rem
		.wrapper.left
			h3 With Stylus "px to rem" Converter Variable
			p 'I've tried the roots of trees, and I've tried banks, and I've tried  hedges,' the Pigeon went on, without attending to her; 'but those  serpents! There's no pleasing them!'
		.wrapper.right
			p Alice was more and more puzzled, but she thought there was no use in  saying anything more till the Pigeon had finished.
	.divider
	.px
		.wrapper.left
			h3 Fixed px dimensions
			p 'I've tried the roots of trees, and I've tried banks, and I've tried  hedges,' the Pigeon went on, without attending to her; 'but those  serpents! There's no pleasing them!'
		.wrapper.right
			p Alice was more and more puzzled, but she thought there was no use in  saying anything more till the Pigeon had finished.