extends wrapper

block title
	| Stylus "px to rem" Converter Variable

block body
	body.greybg
	h3 EM Based Menu
	ul.menu.em
		li HOME
		li ABOUT
		li CONTACT
		li BLOG
	h3 REM Based Menu
	ul.menu.rem
		li HOME
		li ABOUT
		li CONTACT
		li BLOG
	h3 PX Based Menu
	ul.menu.px
		li HOME
		li ABOUT
		li CONTACT
		li BLOG