extends wrapper

block title
	| Stylus Conditionals &amp; Operators

block content
	.outer
		.opensanscondensed
			.wrapper.left
				h3 Open Sans Condensed
				p 'I've tried the roots of trees, and I've tried banks, and I've tried  hedges,' the Pigeon went on, without attending to her; 'but those  serpents! There's no pleasing them!'
		.default_size
			.wrapper.right
				h3 Open Sans
				p 'I've tried the roots of trees, and I've tried banks, and I've tried  hedges,' the Pigeon went on, without attending to her; 'but those  serpents! There's no pleasing them!'