extends wrapper

block title
	| Stylus "Zebra Stripe" Mixin

block content
	.zebra_divs
		div <strong>&lt;div&gt; element.</strong> 'I've tried the roots of trees, and I've tried banks, and I've tried  hedges,' the Pigeon went on, without attending to her; 'but those  serpents! There's no pleasing them!'
		div <strong>&lt;div&gt; element.</strong> Alice was more and more puzzled, but she thought there was no use in  saying anything more till the Pigeon had finished.
		div <strong>&lt;div&gt; element.</strong> 'I've tried the roots of trees, and I've tried banks, and I've tried  hedges,' the Pigeon went on, without attending to her; 'but those  serpents! There's no pleasing them!'
		div <strong>&lt;div&gt; element.</strong> Alice was more and more puzzled, but she thought there was no use in  saying anything more till the Pigeon had finished.
	.divider
	.zebra_paragraphs
		p <strong>&lt;p&gt; element.</strong> 'I've tried the roots of trees, and I've tried banks, and I've tried  hedges,' the Pigeon went on, without attending to her; 'but those  serpents! There's no pleasing them!'
		p <strong>&lt;p&gt; element.</strong> Alice was more and more puzzled, but she thought there was no use in  saying anything more till the Pigeon had finished.
		p <strong>&lt;p&gt; element.</strong> 'I've tried the roots of trees, and I've tried banks, and I've tried  hedges,' the Pigeon went on, without attending to her; 'but those  serpents! There's no pleasing them!'
		p <strong>&lt;p&gt; element.</strong> Alice was more and more puzzled, but she thought there was no use in  saying anything more till the Pigeon had finished.
	.divider
	.zebra_anything
		h4 <strong>&lt;h4&gt; element.</strong> 'I've tried the roots of trees, and I've tried banks, and I've tried  hedges,' the Pigeon went on, without attending to her; 'but those  serpents! There's no pleasing them!'
		p <strong>&lt;p&gt; element.</strong> Alice was more and more puzzled, but she thought there was no use in  saying anything more till the Pigeon had finished.
		div <strong>&lt;div&gt; element.</strong> 'I've tried the roots of trees, and I've tried banks, and I've tried  hedges,' the Pigeon went on, without attending to her; 'but those  serpents! There's no pleasing them!'
		blockquote <strong>&lt;blockquote&gt; element.</strong> Alice was more and more puzzled, but she thought there was no use in  saying anything more till the Pigeon had finished.